.close-icon {
    margin-left: 96%;
    font-size: 20px;
    height: 20px;
    width: 20px;
  }
  
  .close-icon:hover {
    background: #ec1a1a;
    color: #fff;
    font-size: 20px;
    height: 20px;
    width: 20px;
  }